* {
    font-family: 'Roboto', sans-serif;
}

.Container{
    background-image: './public/assets/images/anas-alshanti-feXpdV001o4-unsplash.jpg';
}

.forms{
    padding: 1rem
}

.navbar-brand {
    font-size: 36px

}

.footer {
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 0;
}

.btn {
    margin: .5 rem;
}

.card-header {
    font-size: 2rem;

}