* {
    font-family: 'Zen Kurenaido', sans-serif;
}

a:hover{
    text-decoration: none;
}

.text{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 75px;
}

.container{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
}

.highlight{
    color: rgb(29, 119, 157);
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: bolder;
}

.forms{
    padding: 1rem
}

.navbar-brand {
    font-size: 36px
}

.footer {
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 0;
}

.btn {
    margin: .5 rem;
}

.card-header {
    font-size: 2rem;
}

.navbar{
    max-height: 15vh;
    
}

.button {
    display: inline-block;
    border-radius: 0px;
    background-color: transparent;
    border: none;
    color: rgb(29, 119, 157);
    font-weight: bolder;
    text-align: center;
    font-size: 28px;
    /* padding: 20px; */
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .me-2{
      margin: 0px
  }

  .resume{
    text-align: center;
  }

  .navbar-nav{
      max-height: 46px;
  }

  .contact{
      padding: 0px;
      max-height: 46px;
      margin: 0px;
  }