* {
    font-family: 'Zen Kurenaido', sans-serif;
}

.text{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 75px;
}

.container{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
}

.highlight{
    color: rgb(29, 119, 157);
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: bolder;
}

.forms{
    padding: 1rem
}

.navbar-brand {
    font-size: 36px

}

.footer {
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 0;
}

.btn {
    margin: .5 rem;
}

.card-header {
    font-size: 2rem;
}

.navbar{
    max-height: 15vh;
}